{#def
    title: str = "",

    current_stage: str,
    stages: dict,

    form
#}

<setup.Setup current_stage={{ current_stage }} stages={{ stages }}>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        
        <form.input.InputBox field={{ form.cookies }} />

        <div class="flex justify-between mt-12">
            <ui.buttons.Button href={{ url_for("setup.libraries") }}>Back</ui.buttons.Button>
            <div class="flex gap-2 items-center">
                {% if form.errors %}<p class="text-error">Correct errors before you try again.</p>{% endif %}
                <form.submit.Submit primary error={{ form.errors }} form={{ form }} />
            </div>
        </div>
    </form>
</setup.Setup>