@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .paint-order-stroke {
        paint-order: stroke;
    }

    .absolute-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .absolute-center-h {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .absolute-center-v {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .clip-path-diagonal-tl {
        clip-path: polygon(0 100%, 0% 0%, 100% 0);
    }
    .clip-path-diagonal-tr {
        clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
    }
    .clip-path-diagonal-bl {
        clip-path: polygon(0% 0%, 100% 100%, 0 100%);
    }
    .clip-path-diagonal-br {
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    }
    .clip-path-straight-l {
        clip-path: polygon(0% 100%, 50% 100%, 50% 0%, 0% 0%);;
    }
    .clip-path-straight-r {
        clip-path: polygon(100% 100%, 50% 100%, 50% 0%, 100% 0%);
    }
    .clip-path-straight-t {
        clip-path: polygon(100% 50%, 0% 50%, 0% 0%, 100% 0%);
    }
    .clip-path-straight-b {
        clip-path: polygon(100% 50%, 0% 50%, 0% 100%, 100% 100%);
    }

    .indicator {
        position: relative;
        padding-left: 1rem;
    }
    .indicator::before {
        content: '\2022'; /* Unicode character for a bullet point (•) */
        position: absolute;
        top: 50%; /* Adjust vertical position as needed */
        left: 0.25rem; /* Adjust horizontal position as needed */
        transform: translateY(-50%); /* Center the dot vertically */
    }
    .indicator-bullet::before {
        content: '\2022'; /* Unicode character for a bullet point (•) */
    }
    .indicator-check::before {
        content: '\2713'; /* Unicode character for a check mark (✓) */
    }

    @keyframes vibrate {
        0% { transform: translate(0); }
        25% { transform: translate(-2px, 2px); }
        50% { transform: translate(2px, -2px); }
        75% { transform: translate(-2px, -2px); }
        100% { transform: translate(2px, 2px); }
    }

    .vibrate {
        animation: vibrate 0.2s infinite;
    }

    @keyframes flashBackground {
        0% { background-color: inherit; }
        50% { background-color: rgba(255, 0, 0, 0.397); }
        100% { background-color: inherit; }
    }

    .flash-bg {
        animation: flashBackground 0.2s infinite;
    }
}