{#def
    field,
    field2: any = None
#}

{% set fields = [field, field2] %}
<div class="flex flex-col gap-1">
    <div class="flex flex-col gap-4">
        {% for iter_field in fields %}
            {% if iter_field %}
                <div class="relative">
                    {{ iter_field(
                        autocomplete="off", placeholder=iter_field.name.title(),
                        class_="
                            peer placeholder-transparent
                            h-10 w-full
                            px-4
                            bg-transparent hover:bg-surface-variant focus:hover:bg-transparent
                            rounded-lg outline outline-1 outline-offset-[-1px]" +
                            ("text-error outline-error focus:outline-error" 
                                if iter_field.errors else
                            "text-on-surface outline-on-surface focus:outline-primary")
                    ) }}
                    {{ iter_field.label(
                        class_="
                            absolute
                            left-3 -top-3 peer-placeholder-shown:top-2.5 peer-focus:-top-3
                            px-1
                            bg-surface
                                peer-hover:bg-gradient-to-b from-transparent from-50% to-surface-variant to-50%
                                peer-placeholder-shown:bg-none peer-placeholder-shown:bg-transparent
                                peer-focus:bg-none peer-focus:bg-surface
                            text-sm select-none
                            transition-all " +
                            ("text-error peer-placeholder-shown:text-error peer-focus:text-error "
                                if iter_field.errors else
                            "text-on-surface peer-placeholder-shown:text-on-surface peer-focus:text-primary ") +
                            ("after:content-[''] after:ml-0.5 after:text-primary"
                                if iter_field | is_required else
                            "after:content-['(optional)'] after:ml-1")
                    ) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="px-4 h-0 overflow-visible">
        {% for iter_field in fields %}
            {% if iter_field %}
                {% for error in iter_field.errors %}
                    <span class="text-sm text-error">{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>