{#def
    __parent_id: str = "",
    tree: dict,
    on_branch_open: str = "",
    on_leaf_click: str = "",
    on_navigate: str = ""
#}

{%- set separator = "/" %}

<ul id="{{ __parent_id }}_content" class="
    flex flex-col gap-2
    {% if __parent_id %}
        h-0 scale-y-0 pl-8
        origin-top transition-transform
    {% endif %}
">
    {% for name, content in tree.items() %}
        {% set id = __parent_id + separator + name %}
        <li id="{{ id }}" class="flex flex-col">
            <div
                class="
                    flex items-center gap-2
                    px-4 py-2
                    rounded-lg hover:bg-surface-variant
                    select-none
                    {% if content or on_leaf_click %} cursor-pointer {% endif %}
                "
                {% if content %}
                    onclick="toggleBranch('{{ id }}')"
                {% elif on_leaf_click %}
                    onclick="{{ on_leaf_click }}('{{ id }}')"
                {% endif %}
            >
                <i id="{{ id }}_icon" class="w-4 fa-solid fa-folder-closed"></i>
                <p id="{{ id }}_name">{{ name }}</p>
            </div>
            <tree.view.TreeView tree={{ content }} __parent_id={{ id }} on_leaf_click={{ on_leaf_click }} />
        </li>
    {% endfor %}

    {% if not __parent_id %}
        <script>
            function toggleBranch(id, mode = "toggle") {
                let action;

                switch(mode) {
                    case "open":
                        action = "add";
                        break;
                    case "close":
                        action = "remove";
                        break;
                    case "toggle":
                        action = "toggle";
                        break;
                    default:
                        throw new Error("Mode '" + mode + "' was not recognised!");
                }

                const icon = document.getElementById(id + "_icon");
                const content = document.getElementById(id + "_content");

                icon.classList[action]("fa-folder-closed");
                icon.classList[action]("fa-folder-open");
                
                content.classList[action]("h-0");
                content.classList[action]("h-auto");
                content.classList[action]("scale-y-0");
                content.classList[action]("scale-y-100");
                content.classList[action]("block");

                {% if on_branch_open %}
                    {{ on_branch_open }}(id)
                {% endif %}
            }

            function navigateTo(id) {
                const route = id.split("{{ separator }}");

                let currentPos = "";
                for (let i = 1; i < route.length - 1; i++) {
                    currentPos = currentPos + "{{ separator }}" + route[i];
                    toggleBranch(currentPos, "open");
                }
                {% if on_navigate %}
                    {{ on_navigate }}(id);
                {% endif %}

                const animations = document.getAnimations();
                Promise.all(animations.map(animation => animation.finished))
                    .then(() => {
                        document.getElementById(id).scrollIntoView({
                            behavior: "smooth",
                            block: "center"
                        });
                    });
            }
        </script>
    {% endif %}
</ul>