@media (prefers-color-scheme: dark) {
    :root {
        --primary: 249 230 255;
        --surface-tint: 223 184 246;
        --on-primary: 65 35 86;
        --primary-container: 218 179 241;
        --on-primary-container: 68 37 89;
        --secondary: 218 187 237;
        --on-secondary: 61 39 78;
        --secondary-container: 133 106 151;
        --on-secondary-container: 255 255 255;
        --tertiary: 224 184 245;
        --on-tertiary: 65 35 85;
        --tertiary-container: 87 56 107;
        --on-tertiary-container: 241 210 255;
        --error: 255 180 171;
        --on-error: 105 0 5;
        --error-container: 216 56 49;
        --on-error-container: 255 255 255;
        --background: 21 18 22;
        --on-background: 232 224 230;
        --surface: 21 18 22;
        --on-surface: 232 224 230;
        --surface-variant: 75 68 78;
        --on-surface-variant: 206 195 207;
        --outline: 151 142 152;
        --outline-variant: 75 68 78;
        --shadow: 0 0 0;
        --scrim: 0 0 0;
        --inverse-surface: 232 224 230;
        --inverse-on-surface: 51 47 51;
        --inverse-primary: 114 81 136;
        --primary-fixed: 243 218 255;
        --on-primary-fixed: 43 12 64;
        --primary-fixed-dim: 223 184 246;
        --on-primary-fixed-variant: 89 58 110;
        --secondary-fixed: 242 218 255;
        --on-secondary-fixed: 39 17 56;
        --secondary-fixed-dim: 218 187 237;
        --on-secondary-fixed-variant: 85 61 102;
        --tertiary-fixed: 244 217 255;
        --on-tertiary-fixed: 43 12 63;
        --tertiary-fixed-dim: 224 184 245;
        --on-tertiary-fixed-variant: 89 58 109;
        --surface-dim: 21 18 22;
        --surface-bright: 60 56 60;
        --surface-container-lowest: 16 13 17;
        --surface-container-low: 29 27 30;
        --surface-container: 34 31 34;
        --surface-container-high: 44 41 45;
        --surface-container-highest: 55 52 56;
    }
}