:root {
    --primary: 114 81 136;
    --surface-tint: 114 81 136;
    --on-primary: 255 255 255;
    --primary-container: 243 218 255;
    --on-primary-container: 42 12 64;
    --secondary: 99 97 22;
    --on-secondary: 255 255 255;
    --secondary-container: 235 230 142;
    --on-secondary-container: 30 29 0;
    --tertiary: 68 103 50;
    --on-tertiary: 255 255 255;
    --tertiary-container: 197 239 171;
    --on-tertiary-container: 7 33 0;
    --error: 186 26 26;
    --on-error: 255 255 255;
    --error-container: 255 218 214;
    --on-error-container: 65 0 2;
    --background: 255 247 253;
    --on-background: 30 26 32;
    --surface: 255 247 253;
    --on-surface: 30 26 32;
    --surface-variant: 234 223 234;
    --on-surface-variant: 75 69 77;
    --outline: 124 117 126;
    --outline-variant: 205 195 206;
    --shadow: 0 0 0;
    --scrim: 0 0 0;
    --inverse-surface: 51 47 53;
    --inverse-on-surface: 247 238 246;
    --inverse-primary: 223 184 246;
    --primary-fixed: 243 218 255;
    --on-primary-fixed: 42 12 64;
    --primary-fixed-dim: 223 184 246;
    --on-primary-fixed-variant: 89 58 110;
    --secondary-fixed: 235 230 142;
    --on-secondary-fixed: 30 29 0;
    --secondary-fixed-dim: 206 202 117;
    --on-secondary-fixed-variant: 75 73 0;
    --tertiary-fixed: 197 239 171;
    --on-tertiary-fixed: 7 33 0;
    --tertiary-fixed-dim: 169 210 145;
    --on-tertiary-fixed-variant: 45 79 28;
    --surface-dim: 224 215 223;
    --surface-bright: 255 247 253;
    --surface-container-lowest: 255 255 255;
    --surface-container-low: 250 241 249;
    --surface-container: 244 235 243;
    --surface-container-high: 238 230 237;
    --surface-container-highest: 233 224 232;
}