:root {
    --primary: 114 81 136;
    --surface-tint: 114 81 136;
    --on-primary: 255 255 255;
    --primary-container: 230 191 253;
    --on-primary-container: 76 46 97;
    --secondary: 95 70 112;
    --on-secondary: 255 255 255;
    --secondary-container: 133 106 151;
    --on-secondary-container: 255 255 255;
    --tertiary: 76 45 95;
    --on-tertiary: 255 255 255;
    --tertiary-container: 113 80 133;
    --on-tertiary-container: 255 255 255;
    --error: 184 31 30;
    --on-error: 255 255 255;
    --error-container: 255 110 97;
    --on-error-container: 39 0 1;
    --background: 255 247 253;
    --on-background: 29 27 30;
    --surface: 255 247 253;
    --on-surface: 29 27 30;
    --surface-variant: 234 223 235;
    --on-surface-variant: 75 68 78;
    --outline: 125 116 127;
    --outline-variant: 206 195 207;
    --shadow: 0 0 0;
    --scrim: 0 0 0;
    --inverse-surface: 51 47 51;
    --inverse-on-surface: 246 239 244;
    --inverse-primary: 223 184 246;
    --primary-fixed: 243 218 255;
    --on-primary-fixed: 43 12 64;
    --primary-fixed-dim: 223 184 246;
    --on-primary-fixed-variant: 89 58 110;
    --secondary-fixed: 242 218 255;
    --on-secondary-fixed: 39 17 56;
    --secondary-fixed-dim: 218 187 237;
    --on-secondary-fixed-variant: 85 61 102;
    --tertiary-fixed: 244 217 255;
    --on-tertiary-fixed: 43 12 63;
    --tertiary-fixed-dim: 224 184 245;
    --on-tertiary-fixed-variant: 89 58 109;
    --surface-dim: 223 216 221;
    --surface-bright: 255 247 253;
    --surface-container-lowest: 255 255 255;
    --surface-container-low: 249 241 247;
    --surface-container: 243 236 241;
    --surface-container-high: 238 230 235;
    --surface-container-highest: 232 224 230;
}