{#def
    active: bool = False,

    custom: bool = False,
    variant: bool = False,
    primary: bool = False,
    secondary: bool = False,
    tertiary: bool = False,
    error: bool = False,
    transparent: bool = False,
    disabled: bool = False,

    form,

    additional_class: str = ""
#}

{% set button_class = "" %}

{% if error %}
    {% set button_class = "
        bg-error
        text-on-error
        outline-error
    " + ("bg-transparent text-error" if active else "hover:bg-transparent hover:text-error") %}
{% elif primary %}
    {% set button_class = "
        bg-primary
        text-on-primary
        outline-primary
    " + ("bg-transparent text-primary" if active else "hover:bg-transparent hover:text-primary") %}
{% elif secondary %}
    {% set button_class = "
        bg-secondary
        text-on-secondary
        outline-secondary
    " + ("bg-transparent text-secondary" if active else "hover:bg-transparent hover:text-secondary") %}
{% elif tertiary %}
    {% set button_class = "
        bg-tertiary
        text-on-tertiary
        outline-tertiary
    " + ("bg-transparent text-tertiary" if active else "hover:bg-transparent hover:text-tertiary") %}
{% elif transparent %}
    {% set button_class = "
        bg-transparent
        text-on-surface
        outline-on-surface
    " %}
{% elif variant %}
    {% set button_class = "
        bg-surface-variant
        text-on-surface-variant
        outline-on-surface-variant
    " %}
{% elif not custom %}
    {% set button_class = "
        bg-surface
        text-on-surface
        outline-on-surface
    " %}
{% endif %}

{{ form.submit(class_="
    w-full sm:w-auto
    px-5 py-2.5
    rounded-lg
    font-medium text-md text-center
    outline-offset-[-1px] " +

    ("outline outline-1 cursor-pointer "
        if active else (
            "opacity-50 cursor-not-allowed "
                if disabled else
            "hover:outline hover:outline-1 focus:outline focus:outline-1 cursor-pointer "
        )
    ) +
    
    button_class +
    additional_class
) }}