{#def
    application_name: str = "",
    image_path: str
#}

<link rel="icon" type="image/png" href="{{ image_path }}favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ image_path }}favicon.svg" />
<link rel="shortcut icon" href="{{ image_path }}favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ image_path }}apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{ application_name }}" />
<link rel="manifest" href="{{ image_path }}site.webmanifest" />