@media (prefers-color-scheme: dark) {
    :root {
        --primary: 223 184 246;
        --surface-tint: 223 184 246;
        --on-primary: 65 35 86;
        --primary-container: 89 58 110;
        --on-primary-container: 243 218 255;
        --secondary: 206 202 117;
        --on-secondary: 51 50 0;
        --secondary-container: 75 73 0;
        --on-secondary-container: 235 230 142;
        --tertiary: 169 210 145;
        --on-tertiary: 23 56 7;
        --tertiary-container: 45 79 28;
        --on-tertiary-container: 197 239 171;
        --error: 255 180 171;
        --on-error: 105 0 5;
        --error-container: 147 0 10;
        --on-error-container: 255 218 214;
        --background: 22 18 23;
        --on-background: 233 224 232;
        --surface: 22 18 23;
        --on-surface: 233 224 232;
        --surface-variant: 75 69 77;
        --on-surface-variant: 205 195 206;
        --outline: 150 142 152;
        --outline-variant: 75 69 77;
        --shadow: 0 0 0;
        --scrim: 0 0 0;
        --inverse-surface: 233 224 232;
        --inverse-on-surface: 51 47 53;
        --inverse-primary: 114 81 136;
        --primary-fixed: 243 218 255;
        --on-primary-fixed: 42 12 64;
        --primary-fixed-dim: 223 184 246;
        --on-primary-fixed-variant: 89 58 110;
        --secondary-fixed: 235 230 142;
        --on-secondary-fixed: 30 29 0;
        --secondary-fixed-dim: 206 202 117;
        --on-secondary-fixed-variant: 75 73 0;
        --tertiary-fixed: 197 239 171;
        --on-tertiary-fixed: 7 33 0;
        --tertiary-fixed-dim: 169 210 145;
        --on-tertiary-fixed-variant: 45 79 28;
        --surface-dim: 22 18 23;
        --surface-bright: 60 56 62;
        --surface-container-lowest: 16 13 18;
        --surface-container-low: 30 26 32;
        --surface-container: 34 30 36;
        --surface-container-high: 45 41 46;
        --surface-container-highest: 56 51 57;
    }
}