{#css ../css/light.css, ../css/dark.css, ../css/main.css #}

{%- set title = attrs.get("title", "") %}
{%- set messages = attrs.get("messages", []) %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <ui.images.Favicon application_name="Phasarr" image_path="/static/images/" />

        {% if title %}
            <title>{{ title }} - Phasarr</title>
        {% else %}
            <title>Welcome to Phasarr</title>
        {% endif %}

        {{ catalog.render_assets() }}

        <script>let FF_FOUC_FIX;</script>
    </head>
    <body class="min-h-screen bg-primary-container text-on-primary-container">
        <ui.containers.Container backgroundClass="bg-surface text-on-surface">
            <p>Test</p>
        </ui.containers.Container>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {{ content }}
    </body>
</html>