{% extends "base.html" %}

{% block content %}
    <h1>Setup</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="text-primary">
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-primary">
            {{ form.password.label }}
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-primary">
            {{ form.password2.label }}
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-primary">
            {{ form.auth_method.label }}
            {{ form.auth_method }}
        </p>
        <p class="text-primary">{{ form.submit() }}</p>
    </form>
{% endblock %}