{#css ../css/jsTree/light/style.css, ../css/jsTree/dark/style.css #}
{#js ../js/jquery-3.7.1.min.js, ../js/jstree.min.js #}

<div id="jstree_demo_div" class="h-24"></div>
<script>
    $(function () {
        $('#jstree_demo_div').jstree();
    });
</script>