{#def
    skippable: bool = False,
    form
#}

<setup.Setup _attrs={{ attrs }}>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-8">
                <ui.forms.InputBox field={{ form.username }} />
                <ui.forms.InputBox field={{ form.password }} field2={{ form.password2 }} />
            </div>

            <hr class="my-5 border-primary">

            <div class="flex flex-col gap-8">
                <ui.forms.InputBox field={{ form.auth_method }} />
            </div>

            <div class="flex justify-end my-5">
                <div class="flex gap-2 items-center">
                    {% if form.errors %}<p class="text-sm text-error">Correct errors before you try again.</p>{% endif %}
                    {% if skippable %}<ui.buttons.Button href={{ url_for("setup.libraries") }}>Skip</ui.buttons.Button>{% endif %}
                    <ui.forms.Submit primary error={{ form.errors }} form={{ form }} />
                </div>
            </div>
        </div>
    </form>
</setup.Setup>