{#def
    form
#}

<setup.Setup>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {# <div class="flex items-center gap-2 mb-12">
            <hr class="grow"><h2 class="text-md">Authentication</h2><hr class="grow">
        </div> #}
        
        <div class="
            py-8 leading-6 space-y-8 sm:leading-7
            text-base text-on-surface sm:text-lg
        ">
        
        </div>

        <div class="flex justify-between mt-12">
            <ui.buttons.Button href={{ url_for("setup.libraries") }}>Back</ui.buttons.Button>
            <div class="flex gap-2 items-center">
                {% if form.errors %}<p class="text-error">Correct errors before you try again.</p>{% endif %}
                <ui.forms.Submit primary error={{ form.errors }} form={{ form }} />
            </div>
        </div>
    </form>
</setup.Setup>