{#def
    title: str = "",

    current_stage: str,
    stages: dict,

    skippable: bool = False,
    form,
    dirs: dict,
    libraries: list
#}

<setup.Setup current_stage={{ current_stage }} stages={{ stages }}>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-4 max-h-80">
                {% if not libraries %}
                    {% set libraries = [{ "name": "█████", "path": "/ █████ / ██████████" }] %}
                {% endif %}

                {% for library in libraries %}
                    <ui.containers.card.Card secondary>
                        <ui.containers.card.CardBody additional_class="select-none">
                            <div class="flex flex-col">
                                <p class="text-lg font-bold">
                                    {{ library.name or library.path.split("/")[-1] }}
                                </p>
                                <a class="flex items-center gap-2">
                                    <i class="fa-regular fa-folder"></i>
                                    <p
                                        class="hover:underline cursor-pointer"
                                        onclick="navigateTo('{{ library.path }}')"
                                    >{{ library.path }}</p>
                                </a>
                            </div>
                        </ui.containers.card.CardBody>
                    </ui.containers.card.Card>
                {% endfor %}
            </div>
            
            <div class="flex flex-col gap-4">
                <form.input.InputBox field={{ form.name }} />

                <form.tree.TreeSelector field={{ form.path }} tree={{ dirs }} />

                <div class="flex justify-end items-center gap-2 my-5">
                    {% if form.errors %}<p class="text-sm text-error">Correct errors before you try again.</p>{% endif %}
                    <form.submit.Submit secondary error={{ form.errors }} form={{ form }} />
                </div>
            </div>

            <div class="flex justify-between my-5">
                <ui.buttons.Button href={{ url_for("setup.authentication") }}>Back</ui.buttons.Button>
                <div class="flex gap-2 items-center">
                    <ui.buttons.Button primary href={{ url_for("setup.download") }}>Continue</ui.buttons.Button>
                </div>
            </div>
        </div>
    </form>
</setup.Setup>