{#def
    title: str = "",

    current_stage: str,
    stages: dict,

    skippable: bool = False,
    form,
    dirs,
    libraries
#}

<setup.Setup current_stage={{ current_stage }} stages={{ stages }}>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-4 max-h-80">
                {% if not libraries %}
                    {% set libraries = [{ "name": "█████", "path": "/ █████ / ██████████" }] %}
                {% endif %}

                {% for library in libraries %}
                    <ui.containers.card.Card secondary>
                        <ui.containers.card.CardBody additional_class="select-none">
                            <div class="flex flex-col">
                                <p class="text-lg font-bold">
                                    {{ library.name or library.path.split("/")[-1] }}
                                </p>
                                <div class="flex items-center gap-2">
                                    <i class="fa-regular fa-folder"></i>{{ library.path }}
                                </div>
                            </div>
                        </ui.containers.card.CardBody>
                    </ui.containers.card.Card>
                {% endfor %}
            </div>
            
            <div class="flex flex-col gap-4">
                <ui.forms.InputBox field={{ form.name }} />

                <div class="flex flex-col gap-1">
                    <div class="relative">
                        <div class="
                            placeholder-transparent
                            flex flex-col
                            w-full
                            bg-transparent
                            rounded-lg outline outline-1 outline-offset-[-1px]
                            {% if form.path.errors %}
                                text-error outline-error focus:outline-error
                            {% else %}
                                text-on-surface outline-on-surface focus:outline-primary
                            {% endif %}
                        ">
                            <p id="{{ form.path.id }}_value" class="
                                px-6 pt-4 pb-2
                                bg-surface
                            ">/</p>

                            <div class="h-64 px-4 overflow-y-auto">
                                <files.manager.FileManager tree={{ dirs }}
                                    on_open="selectDir" on_leaf_click="selectDir" />
                            </div>
                            
                            <script>
                                function selectDir(id) {
                                    document.getElementById("{{ form.path.id }}").value = id;
                                    document.getElementById("{{ form.path.id }}_value").innerHTML = id;
                                }
                            </script>
                        </div>
                        {{ form.path.label(
                            class_="
                                absolute
                                left-3 -top-3
                                px-1
                                bg-surface
                                text-sm select-none " +
                                ("text-error "
                                    if form.path.errors else
                                "text-on-surface ") +
                                ("after:content-[''] after:ml-0.5 after:text-primary"
                                    if form.path | is_required else
                                "after:content-['(optional)'] after:ml-1")
                        ) }}
                    </div>
                    <div class="px-4 h-0 overflow-visible">
                        {% for error in form.path.errors %}
                            <span class="text-sm text-error">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="flex justify-end items-center gap-2 my-5">
                    {% if form.errors %}<p class="text-sm text-error">Correct errors before you try again.</p>{% endif %}
                    <ui.forms.Submit secondary error={{ form.errors }} form={{ form }} />
                </div>
            </div>

            <div class="flex justify-between my-5">
                <ui.buttons.Button href={{ url_for("setup.authentication") }}>Back</ui.buttons.Button>
                <div class="flex gap-2 items-center">
                    <ui.buttons.Button primary href={{ url_for("setup.download") }}>Continue</ui.buttons.Button>
                </div>
            </div>
        </div>
    </form>
</setup.Setup>