<Base _attrs={{ attrs }}>
    <ui.containers.Card additional_class="absolute-center w-[40rem] px-10 pt-10 pb-5">
        <h1 class="absolute left-0 -top-36 text-9xl font-thin text-primary">Setup</h1>
        <ui.containers.CardBody>
            {{ content }}
        </ui.containers.CardBody>
    </ui.containers.Card>
</Base>