{#def
    title: str = ""
#}

{#css 
    ../css/light.css, ../css/dark.css,
    ../css/tailwind/output.css,
    ../fonts/fontawesome/css/fontawesome.min.css,
    ../fonts/fontawesome/css/brands.min.css,
    ../fonts/fontawesome/css/solid.min.css
#}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <ui.images.Favicon application_name="Phasarr" image_path="/static/images/" />

        {% if title %}
            <title>{{ title }} - Phasarr</title>
        {% else %}
            <title>Welcome to Phasarr</title>
        {% endif %}

        {{ catalog.render_assets() }}

        <script>let FF_FOUC_FIX;</script>
    </head>
    <body class="min-h-screen flex flex-col bg-primary-container text-on-primary-container font-afacad">
        <ui.containers.Container backgroundClass="bg-surface text-on-surface border-b border-primary">
            <div class="flex flex-row items-center">
                <img src="/static/images/favicon.svg" alt="Phasarr logo" class="w-12 h-12 m-2" />
                <p class="mx-auto">Test</p>
            </div>
        </ui.containers.Container>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        <div class="grow flex">
            {{ content }}
        </div>
    </body>
</html>