{#def
    custom: bool = False,
    variant: bool = False,
    primary: bool = False,
    secondary: bool = False,
    tertiary: bool = False,
    transparent: bool = False,

    additional_class: str = ""
#}

<div class="
    flex flex-col gap-5
    rounded-lg outline outline-1

    {% if variant %}
        bg-surface-variant
        text-on-surface-variant
        outline-on-surface-variant
    {% elif primary %}
        bg-primary-container
        text-on-primary-container
        outline-on-primary-container
    {% elif secondary %}
        bg-secondary-container
        text-on-secondary-container
        outline-on-secondary-container
    {% elif tertiary %}
        bg-tertiary-container
        text-on-tertiary-container
        outline-on-tertiary-container
    {% elif transparent %}
        bg-transparent
        text-on-surface
        outline-transparent
    {% elif not custom %}
        bg-surface
        text-on-surface
        outline-on-surface
    {% endif %}

    {{ additional_class }}
">
    {# {% if content("cover") %}
        <div className='rounded-t-lg overflow-hidden'>
            {{ content("cover") }}
        </div>
    {% endif %} #}

    <div class="grow">
        {{ content }}
    </div>
</div>